@tailwind base;
@tailwind components;
@tailwind utilities;


/* In styles/globals.css */
/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}



@font-face {
  font-family: ubuntu;
  src: url(../public/adineue\ PRO.otf);
}

.play{
  font-family: play;
}
*{
  font-family: 'Open Sans',sans-serif;
  outline:none
}
input{
  outline: none;
}

.anima{
  z-index: 100;
  animation:  anima 15s linear 12s infinite ;
}
.scroll-bar-hidden::-webkit-scrollbar{
  display: none;
}

.filter_me{
  filter: invert(55%) sepia(14%) saturate(23) hue-rotate(-45deg) brightness(119%) contrast(86%);
}

.img-comment {
  @apply rounded-full border-[3px] border-opacity-10 border-gray-400 object-cover  size-[43px] mt-3;
}
.masme{
  mask-image: linear-gradient(black 54%,transparent);
  -webkit-mask-image:linear-gradient(black 54%,transparent); ;
}
span{
  font-family: inherit;
}
.paragraph-container {
  padding: 100px 20px;
}

.paragraph-container p {
  margin-bottom: 40px;
  opacity: 1;
  transform: none;
}
.page-transition {
  transition: opacity 0.5s ease-in-out;
}

.page-content {
  position: relative;
  z-index: 10;
}
.container {
  padding: 100px 0;
  text-align: center;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

